#Sets Assignments.

In [64]:
#Q-1
q = set(range(1, 11))
print(q)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [65]:

#Q-2
q.remove(10)
q.add(100)
print(q)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 100}

In [66]:
#Q-3
my_1 = set(range(1, 6))
my_2 = set(range(2, 11, 2))
print(my_1)
print(my_2)
print(f"Union:{my_1 | my_2}")
print(f"Intersection:{my_1 & my_2}")
print(f"Difference:{my_1 - my_2}")
print(f"Symmentric_difference:{my_1 ^ my_2}")

{1, 2, 3, 4, 5}
{2, 4, 6, 8, 10}
Union:{1, 2, 3, 4, 5, 6, 8, 10}
Intersection:{2, 4}
Difference:{1, 3, 5}
Symmentric_difference:{1, 3, 5, 6, 8, 10}

In [67]:
#Q-4
new_set= {a**2 for a in range (1,11)}
print(new_set) #sets are unordered

{64, 1, 4, 36, 100, 9, 16, 49, 81, 25}

In [68]:
#Q-5
new_2nd = {b for b in q if b%2==0}  
print(new_2nd)

{2, 100, 4, 6, 8}

In [69]:
#Q-6
price= {10,20,30,10,10,40,50,20,10,70}
print(price)
print(f"Symmentric_difference:{price}")

{50, 20, 70, 40, 10, 30}
Symmentric_difference:{50, 20, 70, 40, 10, 30}

In [70]:
#Q-6 #with set method
new_price= set(price)
print(new_price)

{50, 20, 70, 40, 10, 30}

In [72]:
#Q-7
five= {1,2,3,4,5}
three={1,2,3}
print(f"SUBSET: {three.issubset(five)}")
print(f"SUPERSET:{five.issuperset(three)}")

SUBSET: True
SUPERSET:True

In [74]:
#Q-8
frozen= frozenset(range(1,6))
print(frozen)

frozenset({1, 2, 3, 4, 5})

In [79]:
#Q-9
set_list= set(range(1,6))
list_set= list(set_list)
list_set.append(6)
set_list= set(list_set)
print(f"After adding 6 {set_list}")

After adding 6 {1, 2, 3, 4, 5, 6}

In [89]:
#Q-10
q = {
    frozenset({4,2 }): 8,
    frozenset({6, 4}): 24,
    frozenset({8, 6}): 48
}
print(q)

{frozenset({2, 4}): 8, frozenset({4, 6}): 24, frozenset({8, 6}): 48}

In [90]:
#Q-11
like= {10,20,40,50,60,80,100}
for v in like:
    print(v)

80
50
100
20
40
10
60

In [94]:
#Q-12
remove = set(range(20, 28))
while remove:
    remove.pop()
    print(remove)

{21, 22, 23, 24, 25, 26, 27}
{22, 23, 24, 25, 26, 27}
{23, 24, 25, 26, 27}
{24, 25, 26, 27}
{25, 26, 27}
{26, 27}
{27}
set()

In [95]:
#Q-13
new_10 = {10,40,60}
new_20 = {40,80,100}
new_10.symmetric_difference_update(new_20)
print(new_10)

{80, 100, 10, 60}

In [96]:
#Q-14
my_set={'a','b','c','d','e'}
print(my_set)
print('a' in my_set)
print('f'in my_set)

{'d', 'b', 'c', 'a', 'e'}
True
False

In [97]:
#Q-15
set_tuple={(1,2),(10,20),(100,200),(1000,2000)}
print(set_tuple)

{(100, 200), (1, 2), (1000, 2000), (10, 20)}