First Assignment

In [25]:
#QUESTION-1
print("HELLO WORLD!!")

HELLO WORLD!!

In [24]:
#QUS-2
name=input("ENTER YOUR NAME:")
print("HELLO!",name)

HELLO! YASHI

In [21]:
#Q-3
numb_1= float(input("ENTER NUMBER :"))
if numb_1 > 0:
    print("NUMBER IS POSITIVE.")
elif numb_1 < 0:
    print("NUMBER IS NEGATIVE.")
else:
 print("NUMBER IN ZERO.")

NUMBER IS POSITIVE.

In [20]:
# Q-4
a=float(input("ENTER A =")) 
b=float(input("ENTER B =")) 
c=float(input("ENTER C =")) 
if a>=b and a>=c:
    print("A IS LARGEST.")
elif b>=a and b>=c:
    print("B IS LARGEST.")
else:
    print("C IS LARGEST.")

C IS LARGEST.

In [19]:
#Q-5
num = int(input("Enter a positive number: "))

if num < 0:
    print("ENTERED A NEGATIVE NUMBER!!.")
else:
    factorial = 1

    for i in range(1, num + 1):
        factorial *= i
    print(f"The factorial of {num} is {factorial}")

The factorial of 5 is 120

In [17]:
#Q-6
a=("MY NAME IS YASHI.")
A=245
b=245.667
B=True
c=False
print(a)
print(A)
print(b)
print(B)
print(c)
print(type(a))
print(type(A))
print(type(b))
print(type(B))
print(type(c))

MY NAME IS YASHI.
245
245.667
True
False
<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'bool'>

In [16]:
#Q-7
first=input('ENTER FIRST :')
second=input("ENTER SECOND :")
first,second= second,first
print("After Change First =",first)
print("After Change Second =",second)

After Change First = hb
After Change Second = yz

In [1]:
#Que-8
def celsius_to_fahrenheit(celsius):
    fahrenheit = (celsius * 9/5) + 32
    return fahrenheit

celsius = float(input("Enter temperature in Celsius: "))
fahrenheit = celsius_to_fahrenheit(celsius)
print(f"{celsius}째C is equal to {fahrenheit}째F")

88.0째C is equal to 190.4째F

In [15]:
#Q-9
string1= input("ENTER FIRST:")
string2= input("ENTER SECOND:")
final_s= string1 + string2
print("YOUR STRING :",final_s)

YOUR STRING : helloyashi

In [3]:
#Q-10
x = 42
if isinstance(x, int):
    print("x is an integer")
else:
    print("x is not an integer")

x is an integer

In [12]:
#Q-11
add= 10+40
subt= 40-10
multiply= 10*40
division= 40/10
print(add)
print(subt)
print(multiply)
print(division)

50
30
400
4.0

In [11]:
#Q-12
a= 100
b= 500
equal= (a==b)
print(equal)
not_1 = (a!=b)
print(not_1)
greater = (a>b)
print(greater)
less= (a<b)
print(less)
g_2= (a>=b)
print(g_2)
l_2= (a<=b)
print(l_2)

False
True
False
True
False
True

In [10]:
#Q-13
a= float(input("ENTER A:"))
b= float(input("ENTER B:"))
opt_1= (a>b and a<b)
opt_2= (a>b or a<b)
opt_3= not(a>b ,  a<b)
print(opt_1)
print(opt_2)
print(opt_3)

False
True
False

In [9]:
#Q-14
numb=float(input("ENTER NUMBER :"))
sq= (numb**2)
print("SQUARE OF YOUR NUMBER:", sq)

SQUARE OF YOUR NUMBER: 1190.25

In [8]:
#q-15
num = int(input("Enter a number: "))
if num % 2 == 0:
    print(f"Number is even {num}.")
else:
    print(f"Number is odd {num}.")

Number is odd 3.

In [7]:
#Q-16
y = int(input("Enter a positive number: "))
if y <= 0:
    print("ENTER POSITIVE.")
else:
    total = y * (y + 1) // 2  
    print("The sum of the first natural numbers is:", total)

The sum of the first natural numbers is: 3081

In [6]:
#Q-17
year = int(input("ENTER A YEAR:"))
if year/4 ==0:
 print(f"{year} IS A LEAP YEAR.")

else:
    print(f"{year} IS NOT A LEAP YEAR.")

2025 IS NOT A LEAP YEAR.

In [5]:
#Q-18
string1= input("ENTER STRING:")
reversed=string1[::-1]
print("REVERSE STRING:",reversed)
print(f"THE STRING IS:{string1}")

REVERSE STRING: olleh
THE STRING IS:hello

In [3]:
#Q-19
string=input("ENTER A STRING=")
string_111= string.replace(" ","").lower()
if string_111==string:
    print("THIS IS A PALINDROME.")
else:
    print("THIS IS NOT A PALINDROME.")
print(string)

THIS IS A PALINDROME.
abba

In [1]:
#Q-20
list1= ['YASHI','Hello',"True", 'False', "Hiee"]
list2= [1,8,9,239178,36892,278,4619,7,8,5467,10]
list1.sort()
list2.sort()
print(list1)
print(list2)

['False', 'Hello', 'Hiee', 'True', 'YASHI']
[1, 7, 8, 8, 9, 10, 278, 4619, 5467, 36892, 239178]