MATPLOTLIB & SEABORN.

Pandas

In [9]:
import pandas as pd

my={
    'Name':['Yashi','Ashi','Shi'],
    'Age':[19,20,21],
    'Stream':['Commerce','Humanities','Non-medical']
}

df=pd.DataFrame(my)
df
# print(df.loc[0])

    Name  Age       Stream
0  Yashi   19     Commerce
1   Ashi   20   Humanities
2    Shi   21  Non-medical

In [11]:
print(df.loc[[0,2]])

    Name  Age       Stream
0  Yashi   19     Commerce
2    Shi   21  Non-medical