PANDAS ASSIGNMENT.

In [1]:
!pip install pandas
import pandas as pd
import numpy as np

Requirement already satisfied: pandas in c:\users\dell\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\dell\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\dell\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\dell\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\dell\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\dell\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [7]:
#assignment1
#q-1
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randint(1, 100, size=(6, 4)), columns=['A', 'B', 'C', 'D'])
print("Original DataFrame:")
print(df)

df.set_index('A', inplace=True)
print("New index:")
df

Original DataFrame:
    A   B   C   D
0  68  81  46   9
1  18  62  42   3
2  92  44  93  36
3  48  30  51  30
4  38  10  88  80
5  12  31   7  58
New index:

     B   C   D
A
68  81  46   9
18  62  42   3
92  44  93  36
48  30  51  30
38  10  88  80
12  31   7  58

In [11]:
#q-2
df = pd.DataFrame(np.random.randint(1, 100, size=(3, 3)), columns=['A', 'B', 'C'], index=['X', 'Y', 'Z'])
print("DataFrame:")
print(df)

element = df.at['Y', 'B']
print("Row 'Y' and Column 'B':", element)

DataFrame:
    A   B   C
X  32  73  97
Y  11  81  19
Z  76  61  45
Row 'Y' and Column 'B': 81

In [12]:
#assignment2
#q-1
df = pd.DataFrame(np.random.randint(1, 100, size=(5, 3)), columns=['A', 'B', 'C'])
print("DataFrame:")
print(df)

df['D'] = df['A'] * df['B']
print("New DataFrame:")
print(df)

DataFrame:
    A   B   C
0  73  29  98
1   3  41  61
2  64  38  50
3  98  32  92
4   7  49  36
New DataFrame:
    A   B   C     D
0  73  29  98  2117
1   3  41  61   123
2  64  38  50  2432
3  98  32  92  3136
4   7  49  36   343

In [13]:
#q-2
df = pd.DataFrame(np.random.randint(1, 100, size=(4, 3)), columns=['A', 'B', 'C'])
print("Original DataFrame:")
print(df)

sum1= df.sum(axis=1)
sum2= df.sum(axis=0)

print("Row sum:")
print(sum1)
print("Column sum:")
print(sum2)

Original DataFrame:
    A   B   C
0  73  83  99
1  26  78  50
2  63  60  20
3  50  17  35
Row sum:
0    255
1    154
2    143
3    102
dtype: int64
Column sum:
A    212
B    238
C    204
dtype: int64

In [14]:
#assignment3
#q-1
df = pd.DataFrame(np.random.randint(1, 100, size=(5, 3)), columns=['A', 'B', 'C'])
print("Original DataFrame:")
print(df)
df.iloc[0, 1] = np.nan
df.iloc[2, 2] = np.nan
df.iloc[4, 0] = np.nan
print("NaN:")
print(df)
df.fillna(df.mean(), inplace=True)
print("Filled with mean:")
print(df)

Original DataFrame:
    A   B   C
0  11  88  49
1  84  38  74
2  50  56   6
3  39  19  52
4  69  33  81
NaN:
      A     B     C
0  11.0   NaN  49.0
1  84.0  38.0  74.0
2  50.0  56.0   NaN
3  39.0  19.0  52.0
4   NaN  33.0  81.0
Filled with mean:
      A     B     C
0  11.0  36.5  49.0
1  84.0  38.0  74.0
2  50.0  56.0  64.0
3  39.0  19.0  52.0
4  46.0  33.0  81.0

In [15]:
#q-2
df = pd.DataFrame(np.random.randint(1, 100, size=(6, 4)), columns=['A', 'B', 'C', 'D'])
print("Og df:")
print(df)
df.iloc[1, 2] = np.nan
df.iloc[3, 0] = np.nan
df.iloc[5, 1] = np.nan
print("NaN:")
print(df)
df.dropna(inplace=True)
print("New df:")
print(df)

Og df:
    A   B   C   D
0  82  87  40  94
1  16  99  86  79
2  45  48  11  58
3  40  34   8  71
4  15  47  96  74
5  95  45  67  38
NaN:
      A     B     C   D
0  82.0  87.0  40.0  94
1  16.0  99.0   NaN  79
2  45.0  48.0  11.0  58
3   NaN  34.0   8.0  71
4  15.0  47.0  96.0  74
5  95.0   NaN  67.0  38
New df:
      A     B     C   D
0  82.0  87.0  40.0  94
2  45.0  48.0  11.0  58
4  15.0  47.0  96.0  74

In [ ]:
#assignment4
#q-1

In [ ]:
#q-2

In [ ]:
#assignment5
#q-1

In [ ]:
#q-2