TUPLE ASSIGNMENTS.

In [1]:
# Q-1
my_tuple = tuple(range(1, 11))
print(my_tuple)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [2]:
# Q-2
print(len(my_tuple))
print(my_tuple[0])
print(my_tuple[5])
print(my_tuple[-1])

10
1
6
10

In [3]:
# Q-3
print(my_tuple[0:3])
print(my_tuple[2:5])
print(my_tuple[-4:-1])

(1, 2, 3)
(3, 4, 5)
(7, 8, 9)

In [1]:
#Q-4
mat = (
    (1, 2, 3),
    (4, 5, 6),
    (7, 8, 9)
)
print("Matrix:")
for n in mat:
    print(n)
print(f"Element at second row and third column: {mat[1][2]}")

Matrix:
(1, 2, 3)
(4, 5, 6)
(7, 8, 9)
Element at second row and third column: 6

In [4]:
# Q-5
a= (1,2,3)
b=(4,5,6)
new= a+b 
print(new)

(1, 2, 3, 4, 5, 6)

In [5]:
#Q-6
c= (9,8,7,6,9,7,6,6,8,5,8)
d = c.count(8)
e= c.index(6)
print(c)
print(d)
print(e)

(9, 8, 7, 6, 9, 7, 6, 6, 8, 5, 8)
3
3

In [6]:
#Q-7
tuple = (1,2,3,4,5)
a,b,c,d,e= tuple
print(a,b,c,d,e)

1 2 3 4 5

In [16]:
#Q-8
q=[1,2,3,4,5]
w=tuple(q)
print(w)

(1, 2, 3, 4, 5)

In [17]:
# Q-9
m= (
    (9,8,7),
    (6,5,4),
    (3,2,1)
)
print(m)

((9, 8, 7), (6, 5, 4), (3, 2, 1))

In [18]:
# Q-10
new_tuple= (1,2,3,4,5)
new_list= list(new_tuple)
new_list.append(6)
new_tuple= tuple(new_list)
print(new_tuple)

(1, 2, 3, 4, 5, 6)

In [19]:
#Q-11
string = "Yashi"
mytuple = tuple(string)
new_string = ''.join(mytuple)
print(new_string)

Yashi

In [20]:
#Q-12
dict_1 = {
    (1, 2): 3,
    (4, 5): 6,
    (7, 8): 9
}
print(dict_1)

{(1, 2): 3, (4, 5): 6, (7, 8): 9}

In [21]:
# Q-13
new_2 = (
    (1, 2, 3),
    (4, 5, 6),
    (7, 8, 9)
)
for q in new_2:
    for w in q:
        print(w)

1
2
3
4
5
6
7
8
9

In [22]:
# Q-14
tuple_1 = (1,2,3,4,2,1,4,4)
set_1 = set(tuple_1)
print(set_1)

{1, 2, 3, 4}

In [15]:
#Q-15
def minm(a):
    return min(a)

def maxm(a):
    return max(a)

def sum_t(a):
    return sum(a)

sample_tpl = (1, 2, 3, 4, 5)
print(f"Minimum: {minm(sample_tpl)}")
print(f"Maximum: {maxm(sample_tpl)}")

Minimum: 1
Maximum: 5