Functions Assignment!

In [1]:
#Q-1
def square(i):
    return (f"Square of the number {i} = {i**2}")

In [10]:
square(4)

'Square of the number 4 = 16'

In [11]:
square(345)

'Square of the number 345 = 119025'

In [12]:
#Q-2
def sum(a,b):
    return (f"Sum of two numbers is {a+b}")

In [14]:
sum(90,10)

'Sum of two numbers is 100'

In [15]:
sum(2000,4560)

'Sum of two numbers is 6560'

In [17]:
#Q-3
def fixed(a,b=5):
    return (a+5)

In [19]:
print(fixed(20,10))
print(fixed(20,0))

25
25

In [28]:
#Q-4
def information(first_name ,  last_name , age):
    return (f"Age of {first_name} {last_name} is {age} years old.")

print(information('Yashi' ,'Chauhan',18 ))
print(information(first_name="Mitali" ,last_name="Sharma", age = 27))

Age of Yashi Chauhan is 18 years old.
Age of Mitali Sharma is 27 years old.

In [45]:
 #Q-5
def variable(*a):
    product = 1
    for num in a:
        product *= num
    return product

print(variable(5,6,8,9))
print(variable(80,70,40))

2160
224000

In [51]:
#Q-6
def outer(y,z):
    def inner(y,z):
        return(f"When Multiplied : {y*z}")
    return inner(y,z)

print(outer(5,6,))  #30
print(outer(50,80))

When Multiplied : 30
When Multiplied : 4000

In [53]:
#Q-7
def sq_cb_f(q):
    return(f"Square :{q**2} , Cubed : {q**3} , Four : {q**4}")

print(sq_cb_f(2))
print(sq_cb_f(30))
print(sq_cb_f(600))

Square :4 , Cubed : 8 , Four : 16
Square :900 , Cubed : 27000 , Four : 810000
Square :360000 , Cubed : 216000000 , Four : 129600000000

In [56]:
#Q-8
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n - 1)
    
print(factorial(5))
print(factorial(0))
print(factorial(6))

120
1
720

In [57]:
#Q-9
sum = lambda a,b : a+b 
print(sum(2,3))  #5
print(sum(30,70))  #100

5
100

In [58]:
#Q-10
numb=[2,4,6,8,10,12]
my_list=list(map(lambda x: x*2, numb))
print(my_list)

[4, 8, 12, 16, 20, 24]

In [64]:
#Q-11
numbers=[2,3,4,5,6,7,8,9,1]
hm =list(filter(lambda a:a%2==0,numbers))
print(hm)

[2, 4, 6, 8]

In [4]:
#Q-12
def my_decorator(func):
    def wrapper(*args, **kwargs):
        print('Executing function...')
        result = func(*args, **kwargs)
        print('Function executed.')
        return result
    return wrapper

@my_decorator
def sum_list(lst):
    return sum(lst)
print(sum_list([1,2,3,4,5,6]))

Executing function...
Function executed.
21

In [ ]:
#Q-13
def args_kwargs(*args, **kwargs):
    print('args:', args)
    print('kwargs:', kwargs)




args_kwargs(100,200,4,8, q='hello', w= 'world')
args_kwargs(16,10,a=1607,b='Numbers.')

args: (100, 200, 4, 8)
kwargs: {'q': 'hello', 'w': 'world'}
args: (16, 10)
kwargs: {'a': 1607, 'b': 'Numbers.'}

In [5]:
#Q-14
def apply_function(func, lst):
    return [func(x) for x in lst]

print(apply_function(lambda x:x**2, [2,4,6,8,10]))
print(apply_function(lambda x:x+1, [1,2,3,4,5]))

[4, 16, 36, 64, 100]
[2, 3, 4, 5, 6]

In [8]:
#Q-15
def square(x):
    """
    This function returns the square of a number.
    The number is given by the user.

    x (int) =The number.

    eg :- x = 4
    output :- 16    # 4*4
    """
    return x*x

print(square.__doc__)
# print(square(12))    #12*12 = 144

    This function returns the square of a number.
    The number is given by the user.

    x (int) =The number.

    eg :- x = 4
    output :- 16    # 4*4